*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.389rem;
}

h2 {
  font-size: 1.788rem;
}

h3 {
  font-size: 1.111rem;
}

.small {
  font-size: 0.611rem;
}
