*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --whiteColor: #fafafa;
  --blackColor: #20252c;
  --primaryColor: #50a587;
  --smallTextColor: #565656;

  /* Variables */
  --containerMaxWidth: 1000px;
  --containerHorizontalPadding: 50px;
  --containerVerticalPadding: 60px;
  --cardsMinWidth: 255px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.389rem;
}

h2 {
  font-size: 1.788rem;
}

h3 {
  font-size: 1.111rem;
}

.small {
  font-size: 0.611rem;
}

a,
a:link,
a:visited {
  font-weight: 600;
  color: var(--primaryColor);
}

.container {
  padding: var(--containerVerticalPadding) var(--containerHorizontalPadding);
}

.container.header {
  background-color: var(--primaryColor);
}

header {
  display: flex;
  align-items: center;
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
}

.photo-container {
  position: relative;
  width: 300px;
  height: 300px;
}

header .photo-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.photo-container .description {
  position: absolute;
  bottom: 10px;
  background: #20252c99;
  color: var(--whiteColor);
  text-align: center;
  width: 100%;
  padding: 8px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 16;
  background-color: var(--whiteColor);
  color: var(--blackColor);
  padding: 32px 26px 18px 16px;
}
