*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --whiteColor: #fafafa;
  --blackColor: #20252c;
  --primaryColor: #50a587;
  --smallTextColor: #565656;

  /* Variables */
  --containerMaxWidth: 1000px;
  --containerHorizontalPadding: 50px;
  --containerVerticalPadding: 60px;
  --cardsMinWidth: 255px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.389rem;
}

h2 {
  font-size: 1.788rem;
}

h3 {
  font-size: 1.111rem;
}

.small {
  font-size: 0.8rem;
  color: var(--smallTextColor);
}

a,
a:link,
a:visited {
  font-weight: 600;
  color: var(--primaryColor);
}

.container {
  padding: var(--containerVerticalPadding) var(--containerHorizontalPadding);
}

.container.header {
  background-color: var(--primaryColor);
  filter: drop-shadow(0 0 10px #00000049);
}

header,
main {
  display: flex;
  max-width: var(--containerMaxWidth);
  margin: 0 auto;
}

header {
  align-items: center;
  filter: drop-shadow(0 0 10px #00000049);
}

.photo-container {
  position: relative;
  width: 300px;
  height: 300px;
}

header .photo-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.photo-container .description {
  position: absolute;
  bottom: 10px;
  background: #20252c99;
  color: var(--whiteColor);
  text-align: center;
  width: 100%;
  padding: 8px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 16;
  background-color: var(--whiteColor);
  color: var(--blackColor);
  padding: 32px 26px 18px 16px;
}

.profile-icons {
  display: flex;
  gap: 16px;
  justify-content: end;
  font-size: 1.5rem;
}

.icon-link,
.icon-link:link,
.icon-link:visited {
  color: inherit;
  text-decoration: none;
}

.profile-icons .devicon-twitter-original {
  font-size: 1.4rem;
}

main {
  gap: 20px;
  flex-direction: column;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cardsMinWidth), 1fr));
  gap: 22px;
}

.project-card {
  background-color: var(--whiteColor);
  filter: drop-shadow(0 0 6px #0000003b);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project-card .information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.project-card .title {
  display: flex;
  align-items: center;
}

.project-card .title h3 {
  width: 100%;
}

.project-card .icons {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.project-card .icons .devicon-github-original {
  font-size: 1.4rem;
}
